@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800;900&family=Lora:wght@400;500;600;700&display=swap');

.overflow-wrap {
    overflow-x: hidden;
}

.home-background {
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../images/movie-projector.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100;
}