@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800;900&family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
}

.overflow-wrap {
    overflow-x: hidden;
}

#intro-page {
    align-items: center;
}

header {
    height: 100vh;
}

.home-background {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/movie-projector.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    align-items: center;
    text-align: center;
}

.navbar-dark {
    color: #de4c4c;
}

.home-text h1 {
    font-family: "Lora", sans-serif;
    font-size: 100px;
    color: #de4c4c;
}

.home-button i {
    margin: 0 0 0 10px;
    font-size: 18px;
}

.home-button {
    margin: 20px 0 0 0;
    padding: 10px 20px;
    border: 3px solid #de4c4c;
    color: #de4c4c;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lora", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.home-button:hover {
    text-decoration: none;
}

.hvr-bounce-to-bottom:before {
    background: #de4c4c;
}

#about {
    background-color: #080b0c;
}

#about .jumbotron {
    text-align: center;
}

#movies img,
#movie img {
    width: 70%;
    margin-bottom: 20px;
}

#movies .col-md-3 .movie-card {
    height: 450px;
}

#movies .col-md-3 img {
    height: 300px;
}

#movies h4 {
    margin-bottom: 10px;
}

.top-line {
    width: 100%;
    height: 3vh;
    background-color: #de4c4c;
    margin-bottom: 30px;
}

.movie-card {
    font-family: "Lora", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.movie-card h4 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

#buffer-page {
    background-color: #080b0c;
    text-align: center;
}

#buffer-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buffer-page img {
    float: right;
    width: 250px;
}

#buffer-page div h2 {
    color: #fff;
    font-family: "Lora", sans-serif;
    font-size: 50px;
}

@media only screen and (min-width: 375px) {
    #buffer-page div h2 {
        font-size: 60px;
    }
}
